NEXT_PUBLIC_SUPABASE_URL=https://wcdczsqgcckibaofetrh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZGN6c3FnY2NraWJhb2ZldHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjk1MzQsImV4cCI6MjA4OTc0NTUzNH0.CuUu-WFqLRGsteTskwo0Da7NGE4db02b1cWwbivzUoM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZGN6c3FnY2NraWJhb2ZldHJoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE2OTUzNCwiZXhwIjoyMDg5NzQ1NTM0fQ.KtbnycIA6GNmJdxVI5ayuU2FFBiKbco8GDUA6YCwXps
GEMINI_API_KEY=AIzaSyCT4E42qJRHYdGpDGax_UVsw69xoywfAl4
GEMINI_MODEL=gemini-2.5-flash
